<app-nav-bar></app-nav-bar>
<h1>Journals</h1>

<a [routerLink]="['/admin/journal-detail']">Create a new Journal</a>

<p>List of journals</p>
<div class="input-group">
    <input [(ngModel)]="searchText" type="text" class="form-control" placeholder="Enter search text here ...." />
    <span class="input-group-btn">
        <button class="btn btn-default" type="button" (click)="search()">Go!</button>
      </span>
</div>

<p *ngIf="!journals"><em>Loading...</em></p>

<table class='table' *ngIf="journals">
    <thead>
        <tr>
            <th>Name</th>
            <th>Organization</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let journal of journals">
            <td><a (click)="gotoDetail(journal.id)">{{ journal.name }}</a></td>
            <td>{{ journal.organization_name }}</td>
        </tr>
    </tbody>
</table>
<app-pagination [boundaryLinks]="true" [totalItems]="totalRecords"
[(ngModel)]="pageNumber" (pageChanged)="currentPageChanged($event)"
[itemsPerPage]="pageSize"></app-pagination>


