<div class='container-fluid'>
    <div class='row'>
        <div class='col-sm-3'>
            <app-nav-menu></app-nav-menu>
        </div>
        <div class='col-sm-9 body-content' [@routerTransition]="getRouteAnimation(route)">
            <router-outlet #route="outlet"></router-outlet>
        </div>
    </div>
</div>
<bs-modal #myModal>
    <bs-modal-header [showDismiss]="true">
        <h4 class="modal-title">I'm a modal!</h4>
    </bs-modal-header>
    <bs-modal-body>
        Are you sure you want to delete!
    </bs-modal-body>
    <bs-modal-footer>
        <button type="button" class="btn btn-default" data-dismiss="modal" (click)="myModal.dismiss()">Cancel</button>
        <button type="button" class="btn btn-primary" (click)="myModal.close()">Ok</button>
    </bs-modal-footer>
</bs-modal>
