  .action-group {
    margin-block-end: 20px;
    margin-block-start: 20px;
  }
  .mat-form-field{
    width: 100%;
  }
  .table {
    margin-top: 20px;

    thead th {
      text-align: left;
    }
    tbody>tr:hover {
      // background-color: rgb(193, 204, 241);
    }
    tbody a {
      font-size: 12pt;
      // cursor: pointer;
      // color: blue;
    }
    tbody>tr>td>span {
      font-size: 9pt;
      font-style: italic;
      color: #888;
      width: 250px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }


  }
